.overlay {
  opacity: 0;
  visibility: hidden;
}

.overlay_active {
  opacity: 1;
  visibility: visible;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.modal {
  max-width: 792px;
  width: 100%;
  padding: 32px 106px 39px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f2f0f9;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

.modal-header {
  padding-bottom: 21px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c6c2de;
}

.modal-header__title {
  font-size: 24px;
  letter-spacing: 0.1em;
}

.modal-header__close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.modal-body {
  margin-bottom: 28px;
  border-radius: 8px;
  padding: 28px;
  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 60px);
  grid-template-areas: 
  "name description"
  "category description"
  "units count"
  "discount price"
  "size-error btn-image"
  ;
  gap: 12px 24px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.group_name {
  grid-area: name;  
}

.group_category {
  grid-area: category;  
}

.group_units {
  grid-area: units;  
}

.group_discount {
  grid-area: discount;  
}

.group_description {
  grid-area: description;  
}

.group_count {
  grid-area: count;  
}

.group_price {
  grid-area: price;  
}

.group_file {
  grid-area: btn-image;
  justify-content: end;
}

.product__size {
  display: none;
}

/* Показываем ошибку при добавлении изображения свыше 1МБ */
.product__size_active {
  grid-area: size-error;
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #d80101;
}
/* --------------- */

.product__label {
  padding-left: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--purple-blue);
}

.product__input {
  padding: 8px;
  width: 100%;
  min-height: 40px;
  background: var(--phantom-white);
  border: none;
  border-radius: 6px;
}

.product__input_text-area {
  padding: 5px;
  resize: none;
  height: 112px;
  overflow: auto;
}

.product__image-label {
  padding: 11px 30px 11px 25px;
  height: 39px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--slate-blue);
  cursor: pointer;
}

.product__image-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.discount {
  display: flex;
  gap: 10px;
}

.discount__checkbox {
  position: absolute;
  max-width: 40px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: var(--phantom-white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.discount__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color:var(--phantom-white);
  border-radius: 8px;
}

.discount__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.discount__input {
  margin-left: 50px;
}

.discount__input:disabled {
  background-color: var(--smoky-white);
}

.discount__checkbox:focus-visible {
  outline: none
}

.discount__checkbox:checked:after {
  opacity: 1
}

/* Добавление изображения */
.add-image { 
  display: none;
}

/* Добавляем изображение товара в карточку */
.add-image_active {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.image-card {
  position: relative;
  width: 200px;
  height: 200px;
}
/* --------------- */

.image-card__delete-button { 
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, .3);
  transition: 0.3s ease-out;
}

.image-card:hover > .image-card__delete-button  {
  opacity: 1; 
}
/* --------------- */

/* Ошибка */
.add-error {
  display: none;
}

/* Показываем ошибку при добавлении товара */
.add-error_active {
  display: block;
  position: absolute;
  max-width: 350px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f2f0f9;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}
/* --------------- */

.error {
  padding: 26px 29px 26px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.error__bg {
  margin-bottom: 33px;
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("/img/error-bg.png");
}

.error__text {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--purple-blue);
}
/* --------------- */

.modal-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}

.result {
  text-transform: none;
  letter-spacing: -0.25px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
  color: var(--purple-blue);
}

.cost {
  font-weight: 700;
  font-size: 18px;
  color: var(--slate-blue);
}

.add-button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--slate-blue);
  color: var(--white);
}

@media (max-width: 1200px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 60px);
    grid-template-areas: 
    "name"
    "category"
    "units "
    "discount"
    "description"
    "description"
    "count"
    "price"
    "btn-image"
    "size-error"
    ;
  }

  .modal-footer {
    flex-direction: column;
    gap: 20px;
  }
}